<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/B1PlusMapping_Style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <title>B1+ Mapping Tool</title>
  </head>
  <body>
    <main>
      <div class="header">
        <h1 class="title">\(B_1^+\) Mapping Tool</h1>
        <h2 class="subtitle">Please select one of the next options</h2>
      </div>
      <div class="subsection-container">
        <h2 class="subsection-1">
          CV relative \(B_1^+\) mapping (multichannel)
        </h2>
      </div>
      <section class="flex-container container-1">
        <div class="tool b1p-reco-tool">
          <p class="title-tool">Obtain relative \(B_1^+\) maps</p>
          <p class="description-tool">
            This tool allows to obtain relative (biased) \(B_1^+\) data from
            CV/GRE scans
          </p>
        </div>
        <a
          class="b1p-button"
          href="/B1_Mapping_Toolbox/b1p/"
          onclick="changeBoolLoadData()"
        >
          <div class="tool b1p-show-tool">
            <p class="title-tool">Show relative \(B_1^+\) maps</p>
            <p class="description-tool">
              This tool allows to show the \(B_1^+\) maps previously loaded from
              CV/GRE data.
            </p>
          </div>
        </a>
        <a class="b1m-button" href="/B1_Mapping_Toolbox/b1m/">
          <div class="tool b1m-show-tool">
            <p class="title-tool">Show relative \(B_1^-\) maps</p>
            <p class="description-tool">
              This tool allows to show the \(B_1^-\) maps previously loaded from
              CV/GRE data.
            </p>
          </div>
        </a>
        <a
          class="ncm-button"
          href="/B1_Mapping_Toolbox/noise_correlation_maps/"
        >
          <div class="tool noise-corr-tool">
            <p class="title-tool">Show noise corr. map</p>
            <p class="description-tool">
              This tool allows to show the noise correlation map obtained from
              previously loaded data.
            </p>
          </div>
        </a>
        <div class="tool b1-save-tool">
          <p class="title-tool">Save relative \(B_1\) maps</p>
          <p class="description-tool">
            This tool allows to save relative \(B_1\) maps in pickle file
            format.
          </p>
        </div>
        <div class="tool no-tool">
          <p class="title-tool">New tool</p>
          <p class="description-tool">
            This tool allows to do some wonderful things.
          </p>
        </div>
      </section>
      <div class="subsection-container">
        <h2 class="subsection-2">AFI (single channel)</h2>
      </div>
      <section class="flex-container container-2">
        <div class="tool b1p-reco-tool">
          <p class="title-tool">Obtain AFI maps</p>
          <p class="description-tool">
            This tool allows to obtain AFI data from
            RAW scans
          </p>
        </div>
        <div class="tool no-tool">
          <p class="title-tool">Reconstruct AFI from RAW Data</p>
          <p class="description-tool">
            This tool allows to reconstruct AFI from RAW Data (3D fully
            sampled).
          </p>
        </div>
        <a
          class="ncm-button"
          href="/B1_Mapping_Toolbox/Plot_AFI/"
        >
          <div class="tool noise-corr-tool">
            <p class="title-tool">Show AFI data all slices</p>
            <p class="description-tool">
              This tool allows to show all slices in AFI data.
            </p>
          </div>
        </a>
        <div class="tool no-tool">
          <p class="title-tool">Show AFI data center slice</p>
          <p class="description-tool">
            This tool allows to show the central slice of previously loaded AFI
            data.
          </p>
        </div>
        <div class="tool no-tool">
          <p class="title-tool">Save AFI maps</p>
          <p class="description-tool">
            This tool allows to save AFI maps to a pickle file.
          </p>
        </div>
        <div class="tool no-tool">
          <p class="title-tool">New tool</p>
          <p class="description-tool">
            This tool allows to do some wonderful things.
          </p>
        </div>
      </section>
      <div class="modal modal1 hidden">
        <button class="close-modal close-modal1">&times;</button>
        <h1 class="modal-title">Please select a file</h1>
        <input type="file" class="input-button" />
        <a
          class="button-white-bkg send-file"
          href="/B1_Mapping_Toolbox/relative_B1Plus_Maps/"
          >Load File</a
        >
        <h3 class="modal-message modal-message1"></h3>
      </div>      

      <div class="modal modal2 hidden">
        <button class="close-modal close-modal2">&times;</button>
        <h1 class="modal-title">Save \(B_1^+\) Maps as:</h1>
        <input type="text" class="input-text" />
        <a
          class="button-white-bkg send-filename"
          href="/B1_Mapping_Toolbox/save_b1p/"
          >Save File</a
        >
        <h3 class="modal-message modal-message2"></h3>
      </div>
      <div class="overlay hidden"></div>
    </main>
    <script src="{{ url_for('static', filename='js/B1PlusMapping_Script.js') }}"></script>
    <script type="text/javascript">
      let boolLoad = "{{  data.boolLoadData }}";
    </script>
  </body>
</html>
